<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">The<span style="color:orange">Pet</span>Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    
    <div class="collapse navbar-collapse" id="navbarColor01">      
      <ul class="navbar-nav mr-auto navbar-left"> 
        <div *ngIf='isLoggedIn'>        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-paw"></i>
              Pets
            </a>
            <div class="dropdown-menu bg-dark dropdown:hover>.dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/pet/buy"><span style="color:orange">Buy</span></a>
              <a class="dropdown-item" routerLink="/pet/adopt"><span style="color:orange">Adopt</span></a>              
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/pet/create"><span style="color:orange">Create</span></a>            
          </div>
          </li> 
        </div> 
        <div *ngIf='isLoggedIn' class="ml-3">
          <form #searchForm="ngForm" (ngSubmit)="search()">
              <div class="row">
                  <div class="col-7">
                  <input ngModel class="form-control" type="text" name="search" placeholder="Search a pet..." aria-label="Search" required>
              </div>
              <div class="col-5">
                  <button [disabled]="searchForm.invalid" class="btn btn-default" type="submit"><span style="color: orange;"><i class="fas fa-search"></i> Search</span></button>
              </div>
              </div>          
          </form>
      </div> 
      </ul>            
      <ul class="navbar-nav navbar-right">          
      <li *ngIf='!isLoggedIn' class="nav-item">
        <a class="nav-link" routerLink="/auth/login"><i class="fas fa-user"></i> Profile</a>
      </li>  
      <li *ngIf='isLoggedIn' class="nav-item">
        <a class="nav-link" disabled routerLink="#"><i class="fas fa-user"></i> Hello, {{username}}!</a>
      </li>    
      <li *ngIf='isLoggedIn' class="nav-item">
        <a class="nav-link" routerLink="/pet/my-pets"><i class="fas fa-paw"></i> My Pets</a>
      </li>
      <li *ngIf='isLoggedIn' class="nav-item">
        <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Exit</a>
      </li>
    </ul>   
    </div>    
  </nav>
 
  
  
 
