<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6">
<form #createForm="ngForm" (ngSubmit)="createHandler(createForm.value)"> 
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal mt-3">Wish new home for the lovely pet!</h1>
      <p>Fill up the following information!</p>
    </div>
    <div class="form-label-group">
        <label for="Title" class="control-label"></label>
      <input #titleInput="ngModel" ngModel type="text" name="title" class="form-control" placeholder="Title..." required>      
    </div>
    <div class="alert alert-danger" *ngIf="titleInput.invalid && titleInput.touched">
        The field is required!
      </div> 
    <div class="form-label-group">
        <label for="Address" class="control-label"></label>
      <input #addressInput="ngModel" ngModel type="text"  name="address" class="form-control" placeholder="Address..." required>      
    </div>
    <div class="alert alert-danger" *ngIf="addressInput.invalid && addressInput.touched">
        The field is required!
      </div> 
    <div class="form-label-group">
        <label for="Description" class="control-label"></label>
      <textarea ngModel type="text"  name="description" class="form-control" placeholder="Description..."></textarea>     
    </div>
    <div class="d-flex justify-content-between">
        <div class="form-group w-45">            
            <label for="Price" class="control-label"></label>            
            <input #priceInput="ngModel" ngModel type="text" for="Price" name="price" class="form-control" placeholder="Price..." required/>            
        </div>
        <div class="alert alert-danger" *ngIf="priceInput.invalid && priceInput.touched">
            The field is required!
          </div>
        <div class="form-group w-45">
            <label for="Phone" class="control-label"></label>           
            <input #phoneInput="ngModel" ngModel type="text"  name="phone" class="form-control" placeholder="Phone..." required>          
        </div>
        <div class="alert alert-danger" *ngIf="phoneInput.invalid && phoneInput.touched">
            The field is required!
          </div>
    </div>
    <div class="text-center">
        <div class="form-label-group">
        <label for="Type" class="control-label"></label>
        <select ngModel id="type" name="type" class="p-1">
            <option value="">--Please choose a type--</option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="bird">Bird</option>
            <option value="other">Other</option>
         </select>   
        </div> 
    </div>   
    <div class="form-label-group">
        <label for="Image" class="control-label"></label>
      <input #imageInput="ngModel" ngModel type="text"  name="imageURL" class="form-control" placeholder="Image (http://...)" required>     
    </div>
    <div class="alert alert-danger" *ngIf="imageInput.invalid && imageInput.touched">
        The field is required!
      </div>
    <div class="text-center mt-3"> 
    <button [disabled]="createForm.invalid" class="btn btn-lg btn-dark btn-block">Save</button>
    </div>
  </form>
</div>
</div>
</div>
