<div class="h2 text-center font-weight-bold pt-3 pb-3" style="color: peru;">My Pets</div>
<div *ngIf="myPets$">    
    <div class="container"> 
        <table class="table">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-1 d-flex justify-content-center"></th>
                    <th scope="col" class="col-4 d-flex justify-content-center">Title</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Price</th>
                    <th scope="col" class="col-1 d-flex justify-content-center">For</th>
                    <th scope="col" class="col-1 d-flex justify-content-center">Likes</th>                    
                    <th scope="col" class="col-3 d-flex justify-content-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <div *ngFor="let pet of myPets$ | async">
                <tr class="row">
                    <td class="col-1 d-flex justify-content-center">                       
                        <img src="{{pet.imageURL}}" routerLink="/pet/details/{{pet._id}}" width="50" height="50">                       
                    </td>
                    <td class="col-4">
                        {{pet.title}}
                    </td>
                    <td class="col-2 text-center">
                        {{pet.price}} BGN
                    </td>
                    <td class="col-1 text-center">
                        {{pet.option}}
                    </td>
                    <td class="col-1">
                        <i class="fas fa-heart pl-3" style="color: darkred;"></i> {{pet.likes}} 
                    </td>
                    <td class="col-3 d-flex justify-content-around">
                        <div>
                            <button routerLink="/pet/details/{{pet._id}}" class="text-info">Details</button>  
                        </div> 
                        <div>
                            <button routerLink="/pet/edit/{{pet._id}}" class="text-warning pl-3 pr-3">Edit</button>  
                        </div>                     
                        <div>
                            <button class="nav-link" (click)="delete(pet._id, pet.title)" class="text-danger">Delete</button> 
                        </div>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>
</div>


  
    
    
    
    
    
