<div *ngIf="isLoggedIn"> 
<div *ngIf="allPets$">    
<div class="container">    
    <div class="row">    
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let pet of allPets$ | async">
            <div class="card h-100 mt-2">
                <div class="card-img-top image-container center-block zoom">
                    <img src="{{pet.imageURL}}" routerLink="/pet/details/{{pet._id}}">
                </div>
                <div class="card-body text-center h-25 pb-0 pt-0 pl-0 pr-0">                    
                    <h5 class="card-title font-weight-bold" style="color:grey"><i>{{pet.title}}</i></h5>                    
                </div>
                <div class="card-body text-center h-25 pb-0 pt-0 pl-0 pr-0 mt-3">                    
                    <h6 class="card-title font-weight-bold">Tel: {{pet.phone}}</h6>                    
                </div>
                <div class="mb-1">
                    <ul class="list-group list-group-flush mb-0">
                        <li class="list-group-item text-center text-danger h5 ">{{pet.price}} BGN</li>
                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-around text-center bg-white"> 
                    <div class="d-flex justify-content-between">           
                    <div class="mr-2">
                        <button routerLink="/pet/details/{{pet._id}}" class="text-warning">Details</button>  
                    </div>                     
                    <div *ngIf="isPublisher(pet.username)">
                        <button disabled class="nav-link" (click)="like(pet._id)" class="text-danger pl-3 pr-3"> {{pet.likes}} <i class="fas fa-heart"></i></button> 
                    </div> 
                    <div *ngIf="!isPublisher(pet.username)">
                        <button class="nav-link" (click)="like(pet._id)" class="text-danger pl-3 pr-3"> {{pet.likes}} <i class="fas fa-heart"></i></button> 
                    </div>                    
                </div>                                
                </div>
                <div class="text-center">                
                    <span class="text-info">{{pet.option}}</span>              
                </div>
            </div>
        </div>
    </div>    
</div>
</div>
</div>
<div *ngIf="!isLoggedIn">
    <div class="d-md-flex flex-md-equal">
        <div style=" padding-left: 7%; padding-top:3%;" class="col-md-6 mt-3">
          <h1 class="featurette-heading">Here you will find the pet you've <span style="color:peru;">always dreamed
              about!</span></h1>
          <p class="lead mt-4"><i class="fas fa-paw"></i> Join our family.</p>
          <p style="padding-left:5%" class="lead"><i class="fas fa-paw" style="color: peru;"></i> If you already have an account click on <a routerLink="/auth/login"><span style="color:peru"><b>Login</b></span></a></p>
          <p style="padding-left:10%" class="lead"><i class="fas fa-paw"></i> If you don't have an account already then click on <a routerLink="/auth/register"><span style="color:peru"><b>Register</b></span></a></p>
          <p class="lead" style="padding-left:15%"><i class="fas fa-paw" style="color: peru;"></i> Don't wait! Go find your petMate!</p>
        </div>
        <div class="col-md-6 mt-5">
          <img class="home-picture" src="/assets/pets.png" />
        </div>
      </div>
</div>




